<div class="message">
      <div class="up-mess">
        <div class="mess-name">
         <%= message.user.name %>
        </div>
        <div class="mess-date">
         <%= message.created_at %>
        </div>
      </div>
      <div class="down-mess">
        <div class="comment">
         <%= message.content %>
        </div>
      </div>
  </div>